<h3 class="display-4">{{title}}</h3>

<div class="row d-flex justify-content-around my-5">
<div class="card" style="width: 18rem;">
<img src="assets/images/FizioCard.jpg" class="card-img-top" alt="...">
<div class="card-body">
    <h5 class="card-title">Workout</h5>
  <p class="card-text">practice or exercise to test or improve one's fitness for athletic competition, ability, or performance.</p>
</div>
</div>

<div class="card" style="width: 18rem;">
<img src="assets/images/RedCard.jpg" class="card-img-top" alt="...">
<div class="card-body">
    <h5 class="card-title">Healthy diet</h5>
  <p class="card-text">is a diet that helps to maintain or improve overall health. ... </p>
</div>
</div>

<div class="card" style="width: 18rem;">
<img src="assets/images/RollerSkaterCard.jpg" class="card-img-top" alt="...">
<div class="card-body">
    <h5 class="card-title">Sport</h5>
  <p class="card-text">an activity involving physical exertion and skill in which an individual or team competes against another or others for entertainment.</p>
</div>
</div>
</div>

