<div class="d-flex flex-md-column ">
    <h3 class="display-4">BMI Calculator</h3>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Height</span>
    </div>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <span class="input-group-text">cm</span>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Weight</span>
    </div>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <span class="input-group-text">kg</span>
    </div>
  </div>

  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Activity level</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option value="1">Inactive (Less than 30minutes a week)</option>
          <option value="2">Moderately active (Between 30 and 60 minutes a week)</option>
          <option value="3">Active (Between 60 and 150 minutes a week)</option>
        </select>
      </div>

  <button type="button" class="btn btn-primary btn-lg">Large button</button>

</div>

<div class="d-flex flex-md-column ">

  <h3 class="display-4">Calorie Calculator</h3>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Height</span>
    </div>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <span class="input-group-text">cm</span>
    </div>
  </div>

  <div class="input-group mb-3 ">
    <div class="input-group-prepend">
      <span class="input-group-text">Weight</span>
    </div>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <span class="input-group-text">kg</span>
    </div>
  </div>

  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Activity level</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option value="1">Inactive (Less than 30minutes a week)</option>
          <option value="2">Moderately active (Between 30 and 60 minutes a week)</option>
          <option value="3">Active (Between 60 and 150 minutes a week)</option>
        </select>
      </div>

<div class="d-flex flex-row justify-content-between" >
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Lose weight</span>
          </div>
          <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Gain weight</span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>

  <button type="button" class="btn btn-primary btn-lg">Large button</button>

</div>
